<!DOCTYPE html>
<html>
<head>
  <title>Codaisseurup</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <div class="col-sm-12 header-image">
    <%= render "shared/navbar" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <div class="header-title">
        <h1>Awesome Events</h1>
      </div>
      <br>
      <div class="header-subtitle">
        <h5>Look at our amazing events you can join!</h5>
      </div>
      <br>
      <button class="btn btn-success btn-lg">View Events</button>
    </div>
  </div>

  <%= yield %>


  <footer class="footer">
    <div class="container">
      <span class="text-muted"> 	&#169; 2018- Anissa Codaisseurup.</span>
    </div>
  </footer>

</body>
</html>
